
.func-principales{
    margin-top: 20px;

}
.func-principales a{
    text-decoration: none;
}

.func-principales p{
    font-size: 1.4rem;
    color: #5DEFE6;
    text-align: center;
}
.func-principales p:hover{
    color: #00d5c8;
}
.row{
    margin: 10px auto;

   /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;*/

}
.func-principales .col-img{
    width: 300px;
    margin: 40px;
    transition: transform 0.75s;

}
.func-principales img{
    margin: auto;
}
.func-principales .col-img:hover {
    transform: scale(1.1,1.1);
}
.func-principales img{
    width: 15rem;
    height: 15rem;
}
.tarjetas-home{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.tarjetas-home img{
    width: 270px;
    height: 270px;
}
.card .card-title{
    height: 30px;
}

h4{
    color: #5DEFE6;
    font-weight: bold;
    height: 30px;
}
