* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 15px;
    font-weight: 700;
    scroll-behavior: smooth ;
}


body{
    background-color: #fdffe3 !important;
}
main{
    font-family: 'Poppins', sans-serif;
}
 .nav-link{
     font-family: "Mongolian Baiti", "Arial Rounded MT Bold";
     color: #0b0947 !important;
     font-size: 1.5rem;
     transition: opacity 1s;
}
.nav-link:hover{
    color: #171776 !important;
    opacity: 0.9;

}

nav, ul{
    padding-top: 20px ;
}
 header{
     width: 100%;
     background-color: #F8B551;
 }

footer{
    text-align: center;
    color: black;
    background-color: #f8cb99;
    padding-bottom: 40px;
}
footer .texto{
    margin-top: 20px;
}

ion-icon{
    color: white;
    font-size: 30px;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}