{{#partial "contenido"}}
    <!--Estilos CSS-->
    <link type="text/css" rel="stylesheet" href="CSS/home.css">

    <section class="func-principales">

        <div class="row">
            <div class="col col-md-6 col-12">
                <a href="">
                <img src="/images/gato_y_perro.png">
                <p>Registrá a tu mascota</p>
                </a>
            </div>
            <div class="col col-md-6 col-12">
                <a href="">
                <img src="/images/lost_dog.png">
                 <p>Encontré una mascota</p>
                </a>
             </div>
        </div>
    </section>

    <section>
        <form>
            <label><input type="radio" id="cbox1" value="cbox1"> Este es mi primer checkbox</label><br>
            <label><input type="radio" id="cbox2" value="cbox2"> Este es mi 2do checkbox</label><br>
            <label><input type="radio" id="cbox3" value="cbox3"> Este es mi 3er checkbox</label><br>
            <label><input type="radio" id="cbox4" value="cbox4"> Este es mi 4to checkbox</label><br>
        </form>

    </section>
{{/partial}}

{{>layout.hbs}}