{{#partial "contenido"}}
    <div class="titulo-registrarse-centrado">
        <h1 class="titulo-registrarse">Registrarse</h1>
    </div>
    <div class="row justify-content-center">

        <form action="/registrarse" method="POST" class="formulario-registrarse-completo">
            <div class="form-group">
                <label for="usuario">Nombre de usuario</label>
                <input type="text" class="form-control formulario-registrarse" id="usuario" name="usuario">
            </div>
            <div class="form-group">
                <label for="constrasenia">Password</label>
                <input type="password" class="form-control formulario-registrarse" id="contrasenia" name="contrasenia">
            </div>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control formulario-registrarse" id="nombre" name="nombre">
            </div>
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control formulario-registrarse" id="apellido"  name="apellido">
            </div>
            <div class="form-group">
                <label for="nacimiento">Fecha de nacimiento</label>
                <input type="date" class="form-control formulario-registrarse" id="nacimiento" name="nacimiento">
            </div>
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control formulario-registrarse" id="direccion" name="direccion">
            </div>
            <div class="form-group">
                <label for="tipo_doc">Documento</label>
                <div class="titulo-registrarse-centrado">
                    <select class="form-control formulario-registrarse formulario-tipo-dni" id="tipo_doc" name="tipo_doc">
                        {{#each tipos_documento}}
                            <option value={{this}}>{{this}}</option>
                        {{/each}}
                    </select>

                    <input type="text" class="form-control formulario-registrarse formulario-num-dni" id="num_doc" name="num_doc">
                </div>
            </div>

            <div style="color: red;">
                {{#if campos_invalidos}}
                    <p>Algunos campos están mal completados.</p>
                {{/if}}
                {{#if contrasenia_invalida}}
                    <p>La contraseña debe contener al menos 8 caracteres.</p>
                {{/if}}
                {{#if campos_incompletos}}
                    <p>Faltan completar algunos campos.</p>
                {{/if}}
            </div>

            <div class="boton-centrado-registrarse">
                <button type="submit" class="btn btn-primary boton-registrarse">Registrarse</button>
            </div>
        </form>
    </div>

{{/partial}}

{{>layout.hbs}}