{{#partial "contenido"}}
    <form action="/registrarse/admin" method="POST">
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" name="usuario">

        <label for="contrasenia">Usuario</label>
        <input type="password" id="contrasenia" name="contrasenia">

        <button type="submit">Registrarse</button>
    </form>
{{/partial}}

{{>layout.hbs}}