{{#partial "contenido"}}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/facu.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{usuario_logueado.nombre}} {{usuario_logueado.apellido}}</h5>
            <p class="card-text">{{usuario_logueado.nombreUsuario}}</p>
        </div>
    </div>
{{/partial}}

{{>layout.hbs}}
